:root {
    /* Defining font families */
    --CUTIVE-MONO: 'Cutive Mono', monospace;
    --LORA: 'Lora', serif;
}

html, body, #root {
    min-width: 100%;
    min-height: 100%;
}

html {
    font-family: var(--LORA);
    background: #000;
    color: #FFF;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#dynamic-background {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.pftitle {
    font-family: var(--CUTIVE-MONO);
    font-size: 78px;
    margin: 30% 0;
    background-blend-mode: luminosity;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    filter: invert(1);
    max-height: 2.5rem;
}

.menu {
    padding: 1.5rem;
}

.menu a {
    color: #FFF;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0 1rem;
    margin-bottom: 1rem;
}

.about {
    max-width: 75%;
    text-align: justify;
    margin: 0 auto;
}

.profile {
    max-width: 75%;
    margin: 0 12%;
    text-align: center;
}

.code,
.art,
.music,
.contact,
.contact-options,
.portfolio-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolio-options,
.contact-options {
    flex-direction: row;
}

.contact-header {
    width: 100%;
    font-size: 4rem;
    margin-bottom: 1rem;
}

.email, .github, .linkedin {
    scale: 3;
    margin: 10%;
}

.code, .music, .art {
    border: 1px solid #FFF;
    padding: 0.25rem;
    margin: 0.5em;
    background: #000;
    width: 10rem;
    aspect-ratio: 1/1;
    font-size: x-large;
    transition: letter-spacing 0.5s, filter 0.5s;
    text-align: center;
}

.portfolio-options a {
    color: #FFF;
    text-decoration: none;
}

.code svg, .music svg, .art svg {
    margin: 50% 0;
    scale: 4;
    aspect-ratio: 1/1;
}

.code:hover, .music:hover, .art:hover {
    filter: invert(1);
    letter-spacing: 0.1em;
}