:root {
    /* Defining font families */
    --CUTIVE-MONO: 'Cutive Mono', monospace;
    --LORA: 'Lora', serif;
}

.italic {
    font-style: italic;
}

html, body, #root {
    min-width: 100%;
    min-height: 100%;
}

html {
    font-family: var(--LORA);
    background: #000;
    color: #FFF;
}

#root {
    z-index: 1;
}

#dynamic-background {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.pftitle {
    font-family: var(--CUTIVE-MONO);
    font-size: 78px;
    margin: 30% 0;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    filter: invert(1);
    max-height: 2.5rem;
}

.menu {
    padding: 1.5rem;
}

.menu a {
    color: #FFF;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0 1rem;
    margin-bottom: 1rem;
}

.about {
    max-width: 65%;
    text-align: justify;
    margin: 0 auto;
}

.profile {
    max-width: 60%;
    max-height: 15%;
    margin: 0 20%;
    text-align: center;
}

#root,
.code,
.art,
.music,
.contact,
.card-container,
.project-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolio-options,
.contact-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.portfolio-options {
    max-width: 100%;
}

.contact-header {
    width: 100%;
    font-size: 4rem;
    margin-bottom: 1rem;
}

.email, .github, .linkedin, .youtube, .website {
    scale: 3;
    margin: 10%;
}

.code, .music, .art {
    border: 1px solid #FFF;
    padding: 0.25rem;
    margin: 0.5em;
    background: #000;
    width: 10rem;
    aspect-ratio: 1/1;
    font-size: x-large;
    transition: letter-spacing 0.5s, filter 0.5s;
    text-align: center;
}

.portfolio-options a {
    color: #FFF;
    text-decoration: none;
}

.code svg, .music svg, .art svg {
    margin: 50% 0;
    scale: 4;
    aspect-ratio: 1/1;
}

.code:hover, .music:hover, .art:hover {
    filter: invert(1);
    letter-spacing: 0.1em;
}


.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    padding: 1em 0.5em;
    background: #000;
    border: 1px solid #FFF;
    font-family: var(--CUTIVE-MONO);
    transition: background 0.5s, color 0.5s, border 0.5s;
}

.project:hover {
    background-color: #FFF;
    color: #000;
    border: 1px solid #000;
}

.project-details {
    overflow: hidden;
}

.project-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: -5%;
}

.project-image {
    width: 75%;
    aspect-ratio: 1/1;
}

.project h2 {
    text-align: center;
}

.project div {
    width: 100%;
}

.project-description p {
    text-align: justify;
    width: 80%;
    padding: 0 2em;
    margin: 1em 5%;
}

.resume-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.resume-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15em;
    height: 3em;
    background-color: #000;
    color: #FFF;
    border: 1px solid #FFF;
    transition: filter 0.5s;
}

.resume-button:hover {
    filter: invert(1);
}

.code-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 60%;
    margin-top: 2.5rem;
}

.project {
    min-width: 350px;
}

.gallery {
    column-count: 3;
    column-width: 33%;
    padding: 0 12px;
}

.gallery-item {
    transition: all 350ms ease;
    margin-bottom: 12px;
}

.gallery-item:hover {
    filter: opacity(0.5);
}

.model {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 2;
    transition: visibility 0s, opacity 0.5s, transform 0.5s;
}

.viewport {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.model img {
    width: auto;
    height: auto;
    object-fit: contain;
}

@media screen and (max-width: 1007px) {
    .gallery {
        column-count: 2;
    }
}

@media screen and (max-width: 695px) {   
    .menu {
        scale: 0.8;
        margin-bottom: 0;
    }

    .pftitle {
        font-size: 3rem;
        margin: 10% 0;
    }

    .portfolio-options {
        scale: 0.65;
    }

    .contact-header {
        font-size: 2rem;
    }

    .project {
        font-size: smaller;
    }

    .gallery {
        column-count: 1;
    }
}